<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h2{

        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flight</title>
</head>
<body>
    <h1><%= flight.airline  %></h1>
    <h2><%= flight.flight_id  %></h2>
    <h2><%= flight.departsloc  %></h2>
    <h2><%= flight.departsDate  %></h2>
    <h2><%= flight.arrivalDate  %></h2>
    <h2><%= flight.arrival  %></h2>


    <footer>
        <a href="/Admin/flights"> flights </a>
    </footer>
</body>
</html>